<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ahmedabad Bank</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Cleaning Company Website Template" name="keywords">
        <meta content="Cleaning Company Website Template" name="description">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">



        <!-- Template Stylesheet -->
        {% load static%}
        <link href="{% static './style.css'%}" rel="stylesheet">
<style>
.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
</style>
        <style>
    /*search box css start here*/
.search-sec{
    background: #1A4668;padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
     height: calc(3rem + 2px) !important;
     border-radius:0;
}

</style>




    </head>
 <body>
         <div class="header home">
                <div class="container-fluid">
                    <div class="header-top row align-items-center">
                        <div class="col-lg-3">
                            <div class="brand">
                                <a href="{% url 'BHQdash'%}">
                                    <h2> Ahmedabad Bank</h2>
                                    <!-- <img src="img/logo.png" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="topbar">
                                <div class="topbar-col">
                                    <a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+012 345 67890</a>
                                </div>
                                <div class="topbar-col">
                                    <a href="mailto:info@example.com"><i class="fa fa-envelope"></i>bankinghelp@gmail.co.in</a>
                                </div>
                                <div class="topbar-col">
                                    <div class="topbar-social">

                                    </div>
                                </div>
                            </div>
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                     <a class="btn" href="#">Greetings Bank HQ</a>
                                        <a href="{% url 'logoutprocess'%}" class="btn">Log out</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




 <section class="search-sec">
    <div class="container">
        <form action="{% url 'Balanceprocess' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label class="form-control search-slt" style="font-weight:bold;">Total Surplus:</label>
                        </div>

                          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                              <output  class="form-control search-slt" id="answer">{{dfans}} Rs</output>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button  class="btn btn-primary wrn-btn">Reload</button>
                        </div>
                    </div>
                </div>
            </div>
         </form>
    </div>
</section>
         </div>

                              <section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-Bapunagar" role="tab" aria-controls="nav-profile" aria-selected="false">Bapunagar</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Bopal" role="tab" aria-controls="nav-contact" aria-selected="false">Bopal</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Chandkheda" role="tab" aria-controls="nav-contact" aria-selected="false">Chandkheda</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Gandhinagar" role="tab" aria-controls="nav-contact" aria-selected="false">Gandhinagar</a>

                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Gota" role="tab" aria-controls="nav-contact" aria-selected="false">Gota</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Isanpur" role="tab" aria-controls="nav-contact" aria-selected="false">Isanpur</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Lal_darwaja" role="tab" aria-controls="nav-contact" aria-selected="false">Lal Darwaja</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Maninagar" role="tab" aria-controls="nav-contact" aria-selected="false">Maninagar</a>


                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Vastral" role="tab" aria-controls="nav-contact" aria-selected="false">Vastral</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in data %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane fade" id="nav-Bapunagar" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data1 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane fade" id="nav-Bopal" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in data2 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-Chandkheda" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data3 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-Gandhinagar" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data4 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-Gota" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data5 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-Isanpur" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data6 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-Lal_darwaja" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data7 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-Maninagar" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data8 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-Vastral" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <table class="table" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Acct_Branch</th>
                                            <th>Branch_NO</th>
                                            <th>Transaction_code</th>
                                            <th>Transaction_code_desc</th>
                                            <th>Post_date</th>
                                            <th>Amount</th>
                                            <th>Debit_Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                             {% for item in data9 %}
                                        <tr>
                                            <td>{{item.id}}</td>
                                            <td>{{item.Acct_branch}}</td>
                                            <td>{{item.Branch_number}}</td>
                                            <td>{{item.Transaction_code}}</td>
                                            <td>{{item.Transaction_code_desc}}</td>
                                            <td>{{item.Post_date}}</td>
                                            <td>{{item.Amount}}</td>
                                            <td>{{item.Debit_credit}}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          {% load static %}
        <script src="{% static './main.js'%}"></script>
           <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Large button groups (default and split) -->

 </body>
</html>

